{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
 <img src="{% static 'e_commerce/order_Confirmed.jpg' %}" alt="My image">
      <a href="#" class="btn btn-info">Go To Home</a>
      <a href="{% url 'review' %}" class="btn btn-primary">Review Order</a>
<h4>Your order will be delivered to {{address}}</h4>
</body>
</html>